
.sorting__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.sorting__list {
  border: none;
  background-color: transparent;
  color: @base-primary;
  text-transform: uppercase;
  font-weight: 600;
}

.sorting__type {
  font-weight: 600;
}
